.audio-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(221, 220, 222);
  overflow: hidden;
}
.header-title {
  background-color: rgb(36, 36, 36);
  color: rgb(218, 218, 218);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.info-container {
  display: flex;
  align-items: center;
  margin: 15px;
}
.song-list {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 52vh;
  overflow: auto;
}
.logo-container {
  margin: 0 10px 0 0;
}
.audio-section {
  width: 100%;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 10px;
}
.image-container img {
  border-radius: 10px;
  width: 200px !important;
}
.player_container {
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(36, 36, 36);
  position: absolute;
  bottom: 2px;
  width: 100%;
  padding: 0 20px;

  > * {
    color: rgb(202, 202, 202);
  }

  .title {
    font-size: inherit;
  }
  .navigation {
    width: 100%;

    .navigation_wrapper {
      min-width: 100%;
      background-color: rgba(119, 119, 119, 0.781);
      height: 5px;
      border-radius: 30px;
      cursor: pointer;

      .seek_bar {
        width: 0;
        height: 100%;
        background-color: rgb(202, 129, 211);
        border-radius: 30px;
      }
    }
  }
  .controls {
    font-size: inherit;
    display: flex;
    align-items: center;

    .btn_action {
      font-size: 2rem;
      margin: 0 1rem;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .pp {
      font-size: 2rem;
      margin: 10px 0 !important;
    }
  }
}
